@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@keyframes scroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* styles/in  font styles in over all */

.caligraphy-home {
  font-family: 'Times new Roman', sans-serif;
}

.caligraphy-work {
  font-family: 'Times new Roman', sans-serif;
}

.caligraphy-education {
  font-family: 'Times new Roman', sans-serif;
}



/* styles/in ladingpage font colors */

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #11878b, #00aeff, #30c6e1, #2000d3, #1483df);
  animation: gradient 5s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


